.container{
    border:solid 1px  #518e8e;
    font-size: x-small;


}

td {

    border-bottom: solid 1px #918e8e;
    padding:2px ;
}



table{
    margin-bottom: 1rem ;
}
/* .heading{
    background-color: turquoise;
} */

thead{
    color: rgb(240, 234, 234);
}

#exportCsv{
    margin-bottom: 10px;
}

#optionsearch{
    margin-top: 10em;
    margin-bottom: 10em;
}